a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #BBADA0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

header {
  background-color: black;
  padding: 10px 0 15px 0;
  text-align: left;
}

h1 {
  margin: 5px;
  font-size: 2em;
  font-weight: bold;
}

h4 {
  font-size: 1.33em;
  font-weight: bold;
}

p {
  font-size: 12px;
}

span {
  color: yellow;
}

.container {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 25px;
}

.heading {
  width: 320px;
  margin: 0 20px;
}

.score-board {
  background-color: #47403A;
  min-width: 70px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.score {
  font-size: 28px;
  padding-top: 5px;
}

#grid {
  width: 430px;
  height: 430px;
  margin: 0 auto;
  background-color: #CBC2B3;
  position: relative;
}

#window {
  width: 430px;
  height: 430px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.tile {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  line-height: 100px;
  font-size: 50px;
  font-weight: bold;
  color: #47403A;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  -webkit-transition: -webkit-transform 0ms linear;
  transition: transform 0ms linear;
  -webkit-animation: entrance 50ms linear;
  animation: entrance 50ms linear;
}

@-webkit-keyframes entrance {
  0% {
    -webkit-transform: scale(0.5);
  }
}

@keyframes entrance {
  0% {
    transform: scale(0.5);
  }
}

.small-font {
  font-size: 42px;
}

.smaller-font {
  font-size: 32px;
}

.smallest-font {
  font-size: 28px;
}

.white-font {
  color: white;
}
