body {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1 {

  color: white;
  font-size: 80px;
  margin: 10px 0 20px 0;
}

svg {
  width: 0;
  height: 0;
  position: absolute;
}

#grid {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  background-color: #CBC2B3;
  position: relative;
}

#window {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.tile {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  font-weight: 700;
  color: #47403A;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  transition-property: left, top;
  transition-duration: 0ms;
  transition-timing-function: linear;
}

.small-font {
  font-size: 42px;
}

.smaller-font {
  font-size: 32px;
}

.smallest-font {
  font-size: 28px;
}

.white-font {
  color: white;
}
